html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
a, div {
  margin: 0;
  padding: 0;
}

body {
  background-color: #999999;
  width: 800px;
}

header {
  color: #ffffff;
  height:150px;
width: 800px;
}

.logo {
  font-size: 60px;
  font-weight: lighter;
  font-family: "Roboto";
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
}

.logo-text {
  font-weight: lighter;
  font-family: "Roboto";
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}


main {
  background-color: #EEEEEE;
  font-family: "Noto Sans JP";
  height: 900px;
}

.title {
  padding-top: 50px;
  padding-right: 50px;
  line-height: 80px;
  font-size: 70px;
  float: right;
  text-align: right;
}

.title span {
  font-size: 20px;
  line-height: 32px;
}

.soundcloud {
  color: #000000;
  text-decoration: none;
  font-size: 50px;
  float: right;
  padding-top: 350px;
  padding-right: 50px;
}

.lylic {
  font-size: 15px;
  float: left;
  padding-top: 150px;
  padding-left: 50px;
}

.date {
  padding-right: 100px;
  font-size: 20px;
  float: left;
  text-align: right;
}

footer {
  font-size: 15px;
  font-weight: lighter;
  font-family: "Roboto";
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  height: 50px;
  background-color: #333333;
}

.foot {
  float: right;
  text-align: right;
  padding-right: 50px;
}

.foot a {
  color: #ffffff;
  text-decoration: none;
}
