.page {
  font-family: 'Noto Serif JP', serif;
}

.logo {
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 2;
    width: 320px;
    mix-blend-mode: exclusion;
}

.menu{
    width: 50px;
    height: 46px;
    position: fixed;
    right: 70px;
    top: 45px;
    margin:auto;
    cursor: pointer;
}
.menuline{
    display: block;
    width: 70px;
    height: 4px;
    background: black;
    -webkit-transition: .3s;
    transition: .3s;
}

.menuline1{
    transform:translateY(0px);//上から0pxの位置
}
.menuline2{
    transform:translateY(30px);//上から22pxの位置
}
.menuline3{
    transform:translateY(60px);//上から44pxの位置

}

.toptext {
  font-size: 100px;
  line-height: 0px;
}

.toptext span {
  font-size: 50px;
  line-height: 0px;
}


.box1 {
  width: 100%;
  height: auto;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-color: white;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* 左右中央寄せ */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* 上下中央寄せ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 0px;
  box-sizing: border-box;
}



.box2 {
  width: 100%;
  height: auto;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-color: black;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* 左右中央寄せ */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* 上下中央寄せ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 0px;
  box-sizing: border-box;

  color: white;
}

.box3 {
  width: 100%;
  height: auto;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-color: white;
  background-image: url('052.png');

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* 左右中央寄せ */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  /* 上下中央寄せ */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 0px;
  box-sizing: border-box;
}

justify-content: flex-start; // 左寄せ
justify-content: center; // 中央寄せ
justify-content: flex-end; // 右寄せ
上下は
align-items: flex-start; // 上寄せ
align-item: center; // 中央寄せ
align-item: flex-end; // した寄せ
